<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'genericviews/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'genericviews/styles.css' %}" type="text/css">
</head>
<body>
{% block content %}{% endblock %}
<script src="{% static 'genericviews/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'genericviews/js/popper.min.js' %}"></script>
<script src="{% static 'genericviews/js/bootstrap.min.js' %}"></script>
</body>
</html>